* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .navbar-nav {
    position: absolute;
    right: 0;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}

#hero::after {
  content: "";
  background: url(./images/all.jpg);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
} 

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  color: #050505;
  font-family: 'Teko', sans-serif;
}

#hero span {
  color: #055702;
}

#hero h2 {
  color: #13130b;
  margin: 15px 0 0 0;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Cinzel', serif;
}

#hero .btn-get-started {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2dc997;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #51d8ad;
}

#facts {
  width: 100%;
  min-height: 35vh;
  height: auto;
  background: #f7f7f7;
  padding: 60px 0 60px 0;
}

#facts h1 {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Acme', sans-serif;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: 'Lobster Two', cursive;
  font-size: 14px;
}

#projects {
  width: 100%;
  min-height: 70vh;
  height: auto;
  position: relative;
  padding-bottom: 10px;
}

#projects h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  color: #4e4039;
  font-family: 'Acme', sans-serif;
}

#projects h2 {
  color: #a08f86;
  margin: 15px 0 0 0;
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
}

#projects .btn-get-started {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2dc997;
  text-decoration: none;
}

#projects .btn-get-started:hover {
  background: #51d8ad;
}

#news {
  width: 100%;
  min-height: 70vh;
  height: auto;
  position: relative;
}

#news h5 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  color: #4e4039;
  font-family: 'Lobster Two', cursive;
}

#news p {
  color: #a08f86;
  margin: 15px 0 0 0;
  font-size: 20px;
}

#news .last {
  display: inline-block;
  font-size: 14px;
  padding-left: 20px;
}

#news .news-title {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  font-family: 'Acme', sans-serif;
}

#news .btn-get-started {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2dc997;
  text-decoration: none;
}

#news .btn-get-started:hover {
  background: #51d8ad;
}

#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container .background {
  min-height: 400px;
  background: url(./images/2.jpg) center top no-repeat;
  margin-bottom: 10px;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
  font-family: 'Acme', sans-serif;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  line-height: 26px;
  font-family: 'Lobster Two', cursive;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#about .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
  line-height: 0;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/1.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

@media (max-width: 1024px) {
  #call-to-action {
    background-attachment: scroll;
  }
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Acme', sans-serif;
}

#call-to-action .cta-text {
  color: #fff;
  font-family: 'Lobster Two', cursive;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}



#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team h1 {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

#team p {
  text-align: center;
  font-family: 'Lobster Two', cursive;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #2dc997;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}

#contact #google-map {
  height: 300px;
  margin-bottom: 20px;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  padding: 0 0 10px 20px;
  margin-bottom: 20px;
  color: #2dc997;
  float: left;
  line-height: 0;
}

#contact .info p {
  padding: 0 0 10px 40px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
  font-family: 'Lobster Two', cursive;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding: 20px 0;
}

#contact .social-links a {
  font-size: 18px;
  background: #333;
  color: #fff;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#contact .social-links a i {
  line-height: 0;
}

#contact h1 {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

#contact p {
  text-align: center;
}

#contact .social-links a:hover {
  background: #2dc997;
  color: #fff;
}

#contact .text-center {
  padding: 10px;
}

#contact .php-email-form button[type="submit"] {
  background: #2dc997;
  font-family: 'Satisfy', cursive;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .php-email-form button[type="submit"]:hover {
  background: #51d8ad;
}



#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #212529;
  font-size: 14px;
  background: #fef8f5;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #fef8f5;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #4e4039;
  font-family: 'Lobster Two', cursive;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  font-family: 'Satisfy', cursive;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #2dc997;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #51d8ad;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Satisfy', cursive;
  color: #5c5c5c;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f39e7a;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #51d8ad;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2dc997;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #51d8ad;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #212529;
}

#footer .credits a {
  color: #2dc997;
}

@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}
